.faq {
  background-image: url("../public/faqBg.svg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 15%;
  @media screen and (max-width: 768px) {
    background-image: none;
  }
}
