// start global variables
$main-color: #cdff49;
// end global variables
.heroo {
  background-image: url("../public/heroBg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10px 95%;
  @media screen and (max-width: 768px) {
    background-position: center;
  }
  .bottom {
    a {
      clip-path: polygon(23% 0%, 100% 0%, 100% 100%, -2% 100%);
    }
  }
  .lg-screen {
    .right {
      h1 {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 200%;
          height: 255%;
          top: -60%;
          left: -65%;
          background-color: $main-color;
          mask: url("../public/HeroSvg.svg") no-repeat center;
          @media screen and (max-width: 1024px) {
            display: none;
          }
        }
      }
    }
  }
}
